<component name="ArtifactManager">
  <artifact type="war" name="springmvcday02_test:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcday02_test.war">
      <element id="artifact" artifact-name="springmvcday02_test:war exploded" />
    </root>
  </artifact>
</component>